- unless current_page.last?
  == link_to url, { class: 'px-3 py-1 rounded-lg text-sm text-gray-700 hover_bg-gray-100 transition-colors no-underline', rel: 'next' } do
    span aria-hidden="true" &raquo;
